body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:50px;width:80px;padding:0}

.w3-bar .w3-button {
  padding: 16px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.skill {
  text-align: center;
  width: calc(33.33% - 20px); /* Adjust for gaps */
  margin: 10px;
}

.progress-bar {
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #333;
  border-radius: 5px;
}

.download-btn {
  margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .skills {
    flex-direction: column;
  }

  .skill {
    width: 100%;
  }
}

/* New styles for gallery page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.gallery-item {
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.gallery-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item-caption {
  padding: 10px;
  text-align: center;
}

@media (max-width: 900px) {
  .gallery-item {
      flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .gallery-item {
      flex-basis: 100%;
  }
}
